fieldset.radioblocks table {
  table-layout: fixed;
  width: 100%;
  background-color: #1a3151;
  background-color: transparent;
}
fieldset.radioblocks * ~ td, fieldset.radioblocks * ~ th {
  border-left: 1px solid #244672;
}
fieldset.radioblocks tr ~ tr td, fieldset.radioblocks tr ~ tr th {
  border-top: 1px solid #244672;
}
fieldset.radioblocks table caption {
  background-color: #3566a7;
  border-bottom: 1px solid #244672;
  line-height: 48px;
  font-weight: bold;
}
fieldset.radioblocks input[type="radio"] {
  display: none;
}
fieldset.radioblocks th {
  height: 28px;
  vertical-align: middle;
  background-color: #3566a7;
  font-weight: normal;
}
.wide .calendar td {
  height: 84px;
}
.calendar td {
  vertical-align: top;
}
.calendar tr.min td {
  background-color: hsl(214, 55%, 60%);
  line-height: 28px;
  height: 28px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}
fieldset.radioblocks td.non {
  background-color: hsl(214, 0%, 40%);
  background-color: hsl(214, 10%, 60%);
  background-color: hsl(214, 0%, 75%);
  color: #aaa;
}
fieldset.radioblocks tr.min td.non {
  background-color: hsl(214, 0%, 50%);
  background-color: hsl(214, 13%, 68%);
  background-color: hsl(214, 0%, 55%);
  color: #fff;
}
fieldset.radioblocks td {
  background-color: hsl(214, 10%, 60%);
  background-color: #fff;
  color: #666;
}
fieldset.radioblocks label {
  display: block;
  text-align: center;
  cursor: pointer;
  height: 100%;
  line-height: 3.5em;
  background-color: #244672;
  background-color: #fff;
  color: #fff;
  color: #333;
  padding: 0;
}
fieldset.radioblocks .calendar label {
  line-height: 10px;
  padding: 6px;
  display: block;
  height: auto;
  color: #fff;
  text-align: left;
  font-size: 12px;
  border-radius: 2px;
  margin: 2px;
  background-color: hsl(214, 80%, 50%);
}
fieldset.radioblocks .calendar label:hover {
  background-color: hsl(214, 100%, 60%);
}
fieldset.radioblocks .calendar [disabled] + label {
  background-color: hsl(214, 0%, 60%);
  color: #fff;
}
.calendar .heading {
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 4px;
  margin-bottom: 4px;
}
.calendar .chk {
  display: inline-block;
}
fieldset.radioblocks label:hover {
  background-color: rgb(222, 222, 222);
}
fieldset.radioblocks :checked  + label {
  background-color: rgb(255, 125, 64) !important;
  color: #fff;
}
.calendar caption {
  position: relative;
}
.calendar .nextbutton, .calendar .previousbutton {
  position: absolute;
  display: inline-block;
  border: none;
  background: none;
  top: 0;
  height: 100%;
  font-size: 0.9em;
  padding: 0 16px;
}
.calendar .nextbutton {
  right: 0;
}
.calendar .previousbutton {
  left: 0;
}
.calendar .nextbutton:hover, .calendar .previousbutton:hover {
  text-decoration: underline;
}