/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 12, 2014, 7:59:37 PM
    Author     : Melissa
*/
html{
    /*height:100%;*/
}
body { 
    /*height:100%;*/
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 16px; 
    color: #fff; 
    background: url(images/uta-college-park.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    white-space: nowrap;
}

.ui-datepicker-week-end {
    display:none
}


#wrapper{
    width: 1280px;
    margin: 0 auto;
    /*height: 1024px;*/

}

header{
    width: 1280px;
    height: 65px;
    margin: 0 auto;
    display:inline-block;
    background-repeat: no-repeat;
}

#navbar{
    text-align: center;
}

.navigation ul{
    list-style: none;
    /*background-color: #00204c;*/
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 0 !important;
}

.navigation li{
    font-size: 1.3em;
    text-align: center;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    width: 220px;
    height: 50px;
    line-height: 50px;
    margin-left: -4px;

}

.navigation a {
    text-decoration: none;
    color: #082B7F;
    display: block;
    transition: .3s background-color;
}

.navigation a:hover {
    background-color: rgba(0, 95, 158, 0.5);
    color: #fff;
    text-decoration: none;
}

.navigation a.active {
    background-color: #ffb17f;
    color: #444;
    cursor: default;
}

.nav-date {
    color: #fff;
    padding-bottom: 11px;
    display: block;
}

.centerthis{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}

#footer{
    position: fixed;
    bottom: 0;
}
#footer.clear{
    clear: both;
}
footer.clear{
    clear: both;
}